<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniHotelManagement"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".DangNhapActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KhachThueActivity"
            android:exported="false" />
        <activity
            android:name=".KhachHangDaiDienChuaDatActivity"
            android:exported="false" />
        <activity
            android:name=".ThuePhongChuaDatActivity"
            android:exported="false" />
        <activity
            android:name=".DoanhThuTheoNgayActivity"
            android:exported="false" />
        <activity
            android:name=".HoaDonNgayActivity"
            android:exported="false" />
        <activity
            android:name=".DoiPhongActivity"
            android:exported="false" />
        <activity
            android:name=".ThuePhongNhanhActivity"
            android:exported="false" />
        <activity
            android:name=".TraPhongKhachDoanThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".TraPhongKhachDoanActivity"
            android:exported="false" />
        <activity
            android:name=".TraPhongActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".PhieuDatTheoNgayActivity"
            android:exported="false" />
        <activity
            android:name=".ChiTietPhieuThueActivity"
            android:exported="false" />
        <activity
            android:name=".KhachHangDaiDienActivity"
            android:exported="false" />
        <activity
            android:name=".ChonHangPhongThueActivity"
            android:exported="false" />
        <activity
            android:name=".ChonPhongThueActivity"
            android:exported="false" />
        <activity
            android:name=".LuaChonThueActivity"
            android:exported="false" />
        <activity
            android:name=".SoDoActivity"
            android:exported="false" />
        <activity
            android:name=".PhongTrongActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>